.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 8px;
}
.features-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    margin: 0 auto;
}


.features {
    margin: 0;
    padding: 96px 0;
}
.features-icon-container {
   display: none;
}
.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;

}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .features-block {
        width: calc((100% - 24px) / 2);
    }
        .features-subtitle {
            font-weight: 700;
                font-size: 36px;
                line-height: 1.11111;
                letter-spacing: 0.02em;
                color: #2e2f42;
                text-align: left;
        }
        .features-text {
             font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
        }
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px;
    }
    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
        .features-block {
            width: calc((100% - 72px) / 4);
        }
.features-icon-container {
    display: flex;
    background-color: #f4f4fd;
    justify-content: center;
    border-radius: 4px;
    height: 112px;
    margin: 0 0 8px 0;
    border: 1px solid #8e8f99;
    align-items: center;
}
.features-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
}

.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
}
    